{% load static %}
<html>
    <head><title>Merchex</title></head>
	<link rel="stylesheet" href="{% static 'listings/styles.css' %}" />
    <body>
		{% if messages %}
		<ul class="messages">
			{% for message in messages %}
			<li class="{% if message.tags %} {{ message.tags }} {% endif %}">
				{{ message }}
			</li>
		    {% endfor %}
		</ul>
		{% endif %}
		<nav>
			<a href="{% url 'band-list' %}">Groupes</a>
			<a href="{% url 'listing-list' %}">Merch</a>
			<a href="{% url 'about' %}">About us</a>
			<a href="{% url 'contact' %}">Contact</a>
		</nav>
        {% block content %}{% endblock %}

    </body>
</html>